#pdt_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 30;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}

@media all and (max-width:1200px) {
  #pdt_container {
    margin-top: 15%;
  }
}

.loader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 16px solid transparent;
  /* Light grey */
  border-top: 16px solid #53f2f2;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}