nav {
    background-color: rgb(85, 88, 117);
    box-shadow: 1px 2px 55px -20px black;
    padding: 5px 15px;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list-icons {
    display: none;
}

.nav-routes {
    display: flex;
    gap: 50px;
}

#ham-cart-login-container {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 20px;
}

#ham-cart-login-container>button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 19, 44) !important;
}

#ham-cart-login-container>button {
    padding: 6px 15px;
    transition: background-color 120ms ease;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    color: rgb(47, 45, 79) !important;
    background-color: rgba(255, 255, 255, 0.668);
    font-weight: 600;
    font-size: small;
}

#GiHamburgerMenu {
    color: rgb(6, 9, 38);
    display: none;
}

#heading {
    color: white;
}

#heading>span {
    font-family: 'Blanka';
}

.text {
    text-decoration: none;
    cursor: pointer;
    color: rgba(228, 228, 228, 0.919);
    font-size: 0.8em;
    font-weight: 500;
    transition: color;
    transition-duration: 100ms;
}

.text:hover {
    color: rgb(255, 255, 255);
}

#BsFillBagPlusFill {
    transition: all 100ms;
    color: #dcdcdc;
    height: 25px;
    width: 25px;
}

#BsFillBagPlusFill:hover {
    color: white;
}

@media all and (max-width:1200px) {
    nav {
        justify-content: space-around;
    }

    .nav-list-icons {
        display: inline-block;
    }

    #heading {
        left: 10px;
        color: rgb(246, 246, 246);
    }

    #GiHamburgerMenu {
        display: block;
        color: rgba(255, 255, 255, 0.792);
        transition: color 180ms ease-in
    }

    #GiHamburgerMenu:hover {
        color: rgb(255, 255, 255)
    }

    #heading>span {
        color: rgb(224, 224, 224);
    }



    .slider {
        bottom: 0;
        height: 100%;
        width: 40vw;
    }

    #navitems-inactive {
        position: fixed;
        display: none;
    }

    #navitems-active {
        padding: 5px 10px;
        backdrop-filter: blur(10px);
        font-weight: 900;
        font-size: 1.20em;
        box-shadow: -2px -1px 15px -8px rgb(129, 129, 131);
        background-color: rgba(255, 255, 255, 0.485);
        visibility: visible;
        position: fixed;
        gap: 30px;
        right: 35px;
        top: 70px;
        flex-direction: column;
        height: 80svh;
        width: max-content;
        border-radius: 5px;
    }

    .text {
        font-size: 0.8em;
        font-weight: 800;
        color: rgb(20, 20, 36);
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .text:hover {
        color: rgb(255, 255, 255);
    }
}