.slider-container {
    width: 25vw;
    top: 0;
    height: 100svh;
    background-color: rgba(28, 28, 43, 0.764);
    backdrop-filter: blur(5px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: fixed;
    right: 0;
    z-index: 8;
    transition: all;
    transition-duration: 150ms;
}

#total-price {
    text-align: right;
    bottom: 15px;
    right: 10px;
    border-radius: 5px;

}

.slider {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: clip;
}

.hide-slider {
    transform: translateX(800px);
    opacity: 0;
}

#payment>span {
    color: #ffffff;
    font-weight: 600;
}

#payment {
    transition: all 120ms ease-in-out;
    display: flex;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    border-radius: 10px 0 0 0;
    background-color: rgb(30, 28, 41);
    width: 100%;
    height: 45px;
    position: absolute;
    z-index: 6;
    bottom: 0px;
}

#payment:hover {
    background-color: rgb(45, 42, 60);
}

@media all and (max-width:1200px) {
    .slider-container {
        width: 65vw;
        height: 100%;
    }
}