#form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.span-category {
    background-color: white;
    color: black;
    font-size: x-small;
    padding: 1px 8px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.span-category-selected {
    background-color: rgba(83, 83, 83, 0.936) !important;
    color: white !important;
    font-weight: 700;
}

#form-container input {
    padding: 10px;
    font-size: 0.70em;
    font-weight: 700;
}

#form-container input,
#form-container input:focus {
    width: 100%;
    background-color: transparent;
    border-style: none;
    height: 100%;
    outline: none;
    padding: 5px;
}

.preview-images {
    object-fit: 'contain';
    height: 190px;
    border-radius: 5px;
    transition: all 100ms ease-in;
}

.image-preview-container {
    background-color: rgb(50, 50, 82);
    overflow: clip;
    border-radius: 8px;
    width: fit-content;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 190px;
    position: relative;
}

.image-preview-container:hover>.preview-images {
    transform: scale(0.95);
}

.image-preview-container:hover .bottom-label-delete-image {
    transform: translateY(-60px);
}

.bottom-label-delete-image {
    position: absolute;
    bottom: -60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.888);
    cursor: pointer;
    z-index: 2;
    transition: all 50ms ease;
}

.bottom-label-delete-image:hover {
    background-color: rgba(187, 1, 1, 0.825);
}

#keyword-list {
    width: 370px;
    padding: 5px 10px;
    overflow: auto clip;
    display: flex;
    gap: 15px;
    border-style: none;
    outline: none;
}

.keyword {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: grey;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: smaller;
    font-weight: 600;
    color: white;
    align-items: center;
}

#form-input-field-container {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 3px 10px;
    gap: 35px;
    overflow: clip auto;
}

#form-input-field-container label {
    font-size: x-small;
}

#images-input {
    display: none;
}

.input-containers {
    position: relative;
    gap: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input-containers[data-section='price']::after,
.input-containers[data-section="EAC-UPC-ISBN-ASIN-OTHERS-Identification-Number"]::after,
.input-containers[data-section='product-name']::after,
.input-containers[data-section="quantity"]::after,
.input-containers[data-section="keywords"]::after {
    content: '*';
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    color: red;
    position: absolute;
    top: -15px;
    right: 0;

}


.input-containers[data-section='price']:focus-within,
.input-containers[data-section="EAC-UPC-ISBN-ASIN-OTHERS-Identification-Number"]:focus-within,
.input-containers[data-section='product-name']:focus-within,
.input-containers[data-section="quantity"]:focus-within,
.input-containers[data-section="keywords"]:focus-within {
    border: 1px solid rgb(231, 0, 0);
    box-shadow: 0 0 8px -5px red;
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"] dl {
    cursor: pointer;
    font-size: small;
    font-weight: 600;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    padding: 2px 10px;
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"] dl:hover {
    background-color: rgb(54, 49, 83);
    color: white;
    cursor: pointer;
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"]>section {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    top: 40px;
    box-shadow: 0 0 15px -8px grey;
    overflow: clip auto;
    left: 22px;
    height: max-content;
    max-height: 160px;
    border-radius: 5px;
    transition: all;
    transition-duration: 150ms;
    background-color: rgb(255, 255, 255);
}


.product-identification-list {
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
}

.input-containers:focus-within {
    background-color: white;
}

.input-containers[data-section='modelNumber'] {
    flex-grow: 1;
}

#form-container input::placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
}