#form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-container input {
    padding: 10px;
    font-size: 0.70em;
}

#form-container input,
#form-container input:focus {
    width: 100%;
    background-color: transparent;
    border-style: none;
    height: 100%;
    outline: none;
    padding: 5px;
}

#keyword-list {
    width: 100%;
    padding: 5px 10px;
    overflow: auto clip;
    display: flex;
    gap: 15px;
}

.keyword {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: grey;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: smaller;
    font-weight: 600;
    color: white;
    align-items: center;
}

#form-input-field-container {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 3px 10px;
    gap: 15px;
    overflow: clip auto;
}

.input-containers {
    position: relative;
    gap: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input-containers[data-section='product-name']:focus-within {
    border: 1px solid rgb(231, 0, 0);
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"] dl {
    cursor: pointer;
    font-size: small;
    font-weight: 600;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    padding: 2px 10px;
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"] dl:hover {
    background-color: rgb(54, 49, 83);
    color: white;
    cursor: pointer;
}

.input-containers[data-section="eanUpcIsbnGtinAsinType"]>section {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    bottom: -185px;
    box-shadow: 0 0 15px -8px grey;
    overflow: clip auto;
    left: 22px;
    height: max-content;
    max-height: 160px;
    border-radius: 5px;
    transition: all;
    transition-duration: 150ms;
    background-color: rgb(255, 255, 255);
}

.input-containers[data-section="EAC-UPC-ISBN-ASIN-OTHERS-Identification-Number"]:focus-within {
    border: 1px solid rgb(225, 0, 0);
}

.product-identification-list {
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
}

.input-containers:focus-within {
    background-color: white;
}

#form-container input::placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
}