.cl-modalBackdrop {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100svh;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cl-card{
    background-color: rgb(252, 252, 252);
    color: white;
}
.cl-button__google{
    background-color: white;
    color: rgb(30, 28, 41);
}
.cl-button__google:hover{
    background-color: rgb(249, 249, 249);
    color: white;
}
.cl-internal-1dauvpw{
    display: none;
}
.cl-modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cl-internal-piyvrh {
    display: none;
}

.cl-internal-16vtwdp {
    display: none;
}

.cl-formButtonPrimary {
    background-color: rgb(30, 28, 41);
}

.cl-formButtonPrimary:hover {
    background-color: rgb(45, 42, 60);
    color: white;
    font-weight: 600;
}
.cl-userButtonPopoverCard {
    position: fixed;
    z-index: 25;
    transform: scale(0.55) translate(290px, -140px) !important;
}

.cl-cardBox {
    color:white
}

@media all and (max-width:940px) {
    .cl-userButtonPopoverCard {

        transform: scale(0.85) translate(180px, -60px) !important;
    }

    .cl-cardBox {
        transform: scale(0.95);
    }
}