.success,
.cancel {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 40px;
}

.success button {
    background-color: #080512;
    color: white;
    border-radius: 5px;
    width: 40%;
    font-size: 1.2em;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: #000000;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cancel p {
    font-size: 20px;
    font-weight: 600;
}

.success .description {
    font-size: 16px;
    color: black;
    font-weight: 800;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #f02d34;
}

.product-max-qty {
    margin-top: 10px;
}

@media all and (max-width:1200px) {

    .success,
    .cancel {
        width: 70%;
        font-size: 0.75em;
        text-align: center;
    }
}