@import url('https://db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka');

#details__container {
    display: flex;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

#product-ProductDetail h1,
#product-ProductDetail article {
    color: rgb(57, 57, 100)
}

#product-infos {
    height: max-content;
}

#counter_container {
    display: flex;
    align-items: flex-start;
}
#image-carousel{
    scroll-behavior: smooth;
    transition: all;
    transition-duration: 120ms;
    display: flex;
    overflow-y: clip;
    width: 300px;
    height: 100%;
    overflow-x: auto;
    align-items:center;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
}
#image-carousel::-webkit-scrollbar-thumb{
    display: none;
}
#image-carousel img{
    scroll-snap-align: center;
    object-fit: contain;
    transition: all;
    width: 300px;
    scale: 1.75;
    transition-duration: 200ms;
    filter: drop-shadow(-5px 15px 6px black);
}
#counter_container button {
    margin: 30px 10px;
    display: flex;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: small;
    background-color: rgb(68, 68, 104);
    cursor: pointer;
}

#details__container>section {
    width: 50vw;
    color: rgb(88, 88, 88);
    font-size: large;
    font-weight: 900;
    padding: 2px 15px;
    border-left: 2px solid rgb(51, 50, 97);
}

#details__container>section>h1 {
    font-family: 'Blanka', sans-serif;
}

@media all and (max-width:800px) {
    #details__container>img {
        width: 50vw;
        margin-top: 20%;
    }

    #details__container>section>h1 {
        font-size: 1em;
    }

    #details__container>section {
        width: 90vw;
        border-left: none;
    }


    #details__container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #details__container>section {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    #product-infos {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #counter_container {
        height: max-content;
    }
}