#pdt_container {
  padding: 35px 0;
  width: 70%;
  height: 500px;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
}
#search-bar{
  width: 350px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: white;
}
#search-bar > input[type="text"]{
  outline: none;
  border: none;
  width: 280px;
}
#product-container-wrapper{
     height: 100dvh;
     width: 100%;
      display: flex;
       flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
       gap: 20px;
}
@media all and (max-width:1200px) {
  #pdt_container {
    margin-top: 15%;
    width: 95%;
  }
}

.loader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 16px solid transparent;
  /* Light grey */
  border-top: 16px solid #53f2f2;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}