#outer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

#avatar-container {
    position: fixed;
    top: 30px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
}

#admin-routes {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    min-height: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#admin-container {
    width: 75%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

@media screen and (max-width:900px) {}