#subscription-container {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subscription-plans {
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px;
    min-height: 300px;
    width: 250px;
    box-shadow: 0 0 10px -5px grey;
    transition: transform 60ms ease-in;
}

.purchase-btn {
    padding: 4px 15px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    border-style: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(31, 31, 73);
    transition: background-color 90ms ease;
}

.purchase-btn:hover {
    background-color: rgb(45, 45, 67);
}

.subscription-plans:hover {
    transform: scale(1.02);
}

.subscription-content {
    padding: 5px 0;
    height: 250px;
}