#subscription-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 30px;
    padding: 1px 5px;
    overflow-y: auto;
    flex-wrap: wrap;
    height: 450px;
}

.subscription-plans {
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px;
    height: 400px;
    width: 250px;
    box-shadow: 0 0 10px -5px grey;
    transition: transform 60ms ease-in;
    display: flex;
    flex-direction: column;
}

.subscription-plans span {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.purchase-btn {
    padding: 4px 15px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    border-style: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(31, 31, 73);
    transition: background-color 90ms ease;
}

.purchase-btn:hover {
    background-color: rgb(45, 45, 67);
}

.subscription-plans:hover {
    transform: scale(1.02);
}

.subscription-content {
    padding: 5px 0;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 15px;
}

.subscription-content ul {
    margin: 0;
    padding-left: 20px;
}

.subscription-content li {
    margin-bottom: 8px;
    line-height: 1.4;
}