@font-face {
    font-family: 'Blanka';
    src: url('/frontend/src/fonts/Blanka-Regular.otf');
}

#container {
    display: flex;
    align-items: center;
}

#first-container {
    width: 50%;
    padding: 0 0 0 100px;
    height: 100svh;
    display: flex;
    align-items: center;
}

#first-container button {
    border-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
    background-color: rgb(30, 28, 41);
    cursor: pointer;
}

#first-container button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 23, 14);
}

#first-container h1 {
    font-size: 2.8em;
    font-family: 'Blanka', sans-serif;
    color: rgb(17, 17, 17);
    word-wrap: break-word;
    font-weight: 400;
}

#first-container p {
    word-wrap: break-word;
    color: rgb(34, 34, 34);
    font-weight: 500;
}

#second-container {
    position: relative;
    width: 50%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-container>div {
    transition: all;
    transition-duration: 130ms;
    transform: scale(0, 0);
}

#modal {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#modal>span {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1px 10px;
    left: 0;
    top: 0;
    z-index: 5;
    color: rgb(30, 28, 41);
}

@media all and (max-width:1200px) {
    #container {
        flex-direction: column-reverse;
    }

    #second-container,
    #first-container {
        width: 100%;
    }

    #modal>span {
        margin-top: 0
    }

    #first-container>div {
        position: relative;
        transform: translateY(-80%)
    }

    #first-container {
        height: max-content;
    }
}