#modal-container {
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 25;
    width: 100vw;
    height: 100vh;
}

#modal2 {
    width: 400px;
    box-shadow: 2px 3px 10px -2px black;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    place-items: center;
}

#modal2 button {
    color: white;
    background-color: rgb(13, 13, 22);
}