#aside-container {
    height: 100%;
    border-right: 1px solid rgb(47, 47, 83);
    padding-right: 80px;
}

#aside-container div {
    padding: 6px 10px;
    width: 200px;
    margin: 10px 0;
    text-align: justify;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 160ms;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 83);
}

#aside-container div:hover {
    background-color: rgba(255, 255, 255, 0.792);
}

#aside-container>a {
    display: block;
    text-decoration: none;
    color: rgb(70, 71, 108);
}

.Links div {
    background-color: rgb(47, 47, 83) !important;
    color: rgb(255, 255, 255) !important;
}

@media screen and (max-width:900px) {
    #aside-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }
}