#form-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 15px;
    border-radius: 10px;
    background-image: url('../../../assets/UserFormBackground.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 15px;
}
#signed-out-message{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container input {
    padding: 10px;
    font-size: 0.70em;
}

#form-container input,
#form-container input:focus {
    background-color: transparent;
    border-style: none;
    height: 100%;
    outline: none;
    padding: 5px;
}

#form-input-field-container {
    display: flex;
    flex-direction: column;
    max-height: 430px;
    padding: 3px 10px;
    gap: 15px;
    overflow: clip auto;
}

#form-input-field-container label {
    font-size: x-small;
}

#phone-number-verification-modal {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(237, 237, 237);
}

#verify-span-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7em;
    margin-bottom: 10px;
}

#verify-span-btn>span {
    color: rgb(46, 46, 77);
    cursor: pointer;
    font-weight: 600;
}

#username-input,
#mail-input,
#phone-input {
    gap: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#phone-country-code {
    font-size: smaller;
    position: relative;
}

#phone-country-code>section>dl {
    cursor: pointer;
    width: 100%;
    padding: 2px 10px;
}

#phone-country-code>section>dl:hover {
    background-color: rgb(54, 49, 83);
    color: white;
}

#phone-country-code>section {
    position: absolute;
    z-index: 2;
    bottom: -135px;
    overflow: clip auto;
    left: -20px;
    min-height: max-content;
    max-height: 180px;
    border-radius: 5px;
    transition: all;
    transition-duration: 150ms;
    background-color: rgb(245, 245, 245);
}

.country-code-list {
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
}

#phone-input dl {
    width: max-content;
    font-size: smaller;
}

#phone-input:focus {
    background-color: white;
}

#form-container input::placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
}