#card {
    font-size: 0.75em;
    background-image: linear-gradient(to top right, rgba(99, 174, 176, 0.596), rgba(1, 255, 170, 0.6));
    width: 280px;
    text-align: center;
    height: 400px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 15px -13px;
    backdrop-filter: blur(15px);
    display: flex;
    margin: 45px 20px;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

#card button:hover {
    background-color: rgb(49, 49, 81);
}

#card button {
    z-index: 5;
    background-color: rgb(75, 75, 112);
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#card:hover img {
    transform: translateY(-80px);
}

#card img {
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px rgba(102, 93, 93, 0.497));
    height: 200px;
    width: 200px;
    transition: all;
    transition-duration: 120ms;
    position: relative;
    transform: translateY(-60px);
}

#card h2 {
    position: relative;

}

#card h3 {
    margin: 0;
}

@media all and (max-width:1200px) {
    #card {
        font-size: 1em;
        width: 250px;
    }
}