#card {
    font-size: 0.75em;
    background-image: linear-gradient(to top right, rgba(99, 174, 176, 0.596), rgba(1, 255, 170, 0.6));
    width: 280px;
    text-align: center;
    height: 400px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 15px -13px;
    backdrop-filter: blur(15px);
    display: flex;
    margin: 45px 20px;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

#card button {
    z-index: 5;
}

#card img {
    object-fit: contain;
    filter: drop-shadow(5px 10px 10px);
    height: 200px;
    width: 200px;
    position: relative;
    transform: translateY(-60px);
}

#card h2 {
    position: relative;

}

#card h3 {
    margin: 0;
}

@media all and (max-width:1200px) {
    #card {
        font-size: 1em;
        width: 250px;
    }
}