body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "PT Sans", "DM Sans", sans-serif;
  width: 100%;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  background-attachment: fixed;
  background-image:url('./assets/Background_16_10.svg');
  background-color: rgba(226, 226, 226, 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*,*::after,*::before{
  box-sizing: border-box;
}
*::selection {
  background-color: rgb(30, 28, 41);
  color: white;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 5px
}

*::-webkit-scrollbar-track {
  background-color: transparent
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(30, 28, 41);
  border-radius: 30px
}

@media all and (max-width:1200px) {
  * {
    font-size: 1em
  }
}

@media screen and (max-width:900px) {
  body{
    background-image:url('./assets/Background_9_16.svg');
  }
}