#form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#phone-number-verification-modal {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(237, 237, 237);
}

#verify-span-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7em;
    margin-bottom: 10px;
}

#verify-span-btn>span {
    color: rgb(46, 46, 77);
    cursor: pointer;
    font-weight: 600;
}

#username-input,
#mail-input,
#phone-input {
    gap: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#phone-country-code {
    font-size: smaller;
    position: relative;
}

#phone-country-code>section>dl {
    cursor: pointer;
    width: 100%;
    padding: 2px 10px;
}

#phone-country-code>section>dl:hover {
    background-color: rgb(54, 49, 83);
    color: white;
}

#phone-country-code>section {
    position: absolute;
    z-index: 2;
    bottom: -135px;
    overflow: clip auto;
    left: -20px;
    min-height: max-content;
    max-height: 180px;
    border-radius: 5px;
    transition: all;
    transition-duration: 150ms;
    background-color: rgb(245, 245, 245);
}

.country-code-list {
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
}

#phone-input dl {
    width: max-content;
    font-size: smaller;
}

#phone-input:focus {
    background-color: white;
}

#mail-input input[name="email"],
#phone-input input[name="phone"],
#username-input input[name="username"] {
    padding: 10px;
    font-size: 0.70em;

}

#mail-input input[name="email"]::placeholder,
#phone-input input[name="phone"]::placeholder,
#username-input input[name="username"]::placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
}

#mail-input input[name="email"],
#mail-input input[name="email"]:focus,
#username-input input[name="username"],
#username-input input[name="username"]:focus,
#phone-input input[name="phone"],
#phone-input input[name="phone"]:focus,
#phone-input select {
    background-color: transparent;
    border-style: none;
    height: 100%;
    outline: none;
    padding: 5px;
}